.com__heading{
    h3{
        font-family: Bitter-Regular, sans-serif;
    }
    span{
        margin-right: 5px;
    }
}

.com__name{
    color: var(--blue);
    text-transform: capitalize;
    margin-bottom: 0;
    font-family: Bitter-Regular, sans-serif;
}
.com__date{
    font-size: .8rem;
}

.com__comment{
    color: var(--white);
    line-height: 1.4;
}

.com__display{
    border-bottom: 1px solid #ccc;
}